<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="container">
      <div>

        <header>
          {% include header.html %}
        </header>

        <hr />

        <section class="main-content">
            {{ content }}
        </section>

        <footer>
          {% include footer.html %}
        </footer>

      </div>
    </div>

    <script>
        $('body').flowtype({
            minimum: 641,
            maximum: 1200
        });
    </script>

  </body>

    <script>
        {% include analytics.html %}
    </script>

</html>
