<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="container">
      <div>

        <header>
          {% include header.html %}
        </header>

        <hr />

        <section id="main_content">
            {{ content }}
        </section>

        <footer>
          {% include footer.html %}
        </footer>

      </div>
    </div>
     
    <script>$('body').flowtype();</script>

  </body>

    <script>
        {% include analytics.html %}
    </script>

</html>
